/*  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */ 

h1 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
}



#navbar{
margin-bottom: 50px;
position: sticky;
width: 100%;
height: 50px;
left: 0px;
top: 0px;
background: #BA0303;
}

.menu{
    color: #FFFFFF;
    text-decoration: none;
}

#logo{
    position: fixed;
    left: 0px;
    top: 0px;
}


body, html {
    margin-left:0%;
    margin-right:0%;
    margin-bottom:2%;
    margin-top:0%;
    width:100%;
    height:100%;
}

#konten-home{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.line{
    position: relative;
    margin-top: -5px;
    margin-bottom: 5px;
}

figcaption{
    text-align: center;
    font-weight: bold;
}

p{
    font-size: large;
    font-weight: bold;
}

#footer{
    width: 100%;
}